@media (max-width:992px) {
  .most-recent-cards{
    justify-content: center;
  }
  .featured-cards{
    flex-direction: column;
    align-items: center;
  }
  .intro-list{
    flex-wrap: wrap;
  }
}
@media (max-width:768px) {
}
@media (max-width:600px) {
  .container{
    padding: 0 10px;
  }
  .featured-card{
    width: 100%;
  }
  .header-list{
    flex-direction: column;
  }
  .footer-list{
    flex-direction: column;
  }
  .most-recent-card{
    width: 100%;
  }
}