%primary-button {
  display: flex;
  padding: 16px 30px;
  // width: 120px;
  // width: fit-content;
  background-color: $background-button;
  border-radius: 50px;
  box-shadow: 4px 4px 8px $box-shadow-button;
  @include font-primary(15px, $color-text-button, 600, 18px);

  &:active {
    position: relative;
    top: 1px;
  }
}
