//Montserrat
@font-face {
	font-family: 'MontserratThin';
	src: url('../fonts/Montserrat/montserrat-thin-webfont.eot');
	src: url('../fonts/Montserrat/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Montserrat/montserrat-thin-webfont.woff2') format('woff2'),
			 url('../fonts/Montserrat/montserrat-thin-webfont.woff') format('woff'),
			 url('../fonts/Montserrat/montserrat-thin-webfont.ttf') format('truetype'),
			 url('../fonts/Montserrat/montserrat-thin-webfont.svg#montserratthin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratExtraLight';
	src: url('../fonts/Montserrat/montserrat-extralight-webfont.eot');
	src: url('../fonts/Montserrat/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Montserrat/montserrat-extralight-webfont.woff2') format('woff2'),
			 url('../fonts/Montserrat/montserrat-extralight-webfont.woff') format('woff'),
			 url('../fonts/Montserrat/montserrat-extralight-webfont.ttf') format('truetype'),
			 url('../fonts/Montserrat/montserrat-extralight-webfont.svg#montserratextralight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratLight';
	src: url('../fonts/Montserrat/montserrat-light-webfont.eot');
	src: url('../fonts/Montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Montserrat/montserrat-light-webfont.woff2') format('woff2'),
			 url('../fonts/Montserrat/montserrat-light-webfont.woff') format('woff'),
			 url('../fonts/Montserrat/montserrat-light-webfont.ttf') format('truetype'),
			 url('../fonts/Montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratRegular';
	src: url('../fonts/Montserrat/montserrat-regular-webfont.eot');
	src: url('../fonts/Montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
			 url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff'),
			 url('../fonts/Montserrat/montserrat-regular-webfont.ttf') format('truetype'),
			 url('../fonts/Montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratMedium';
	src: url('../fonts/Montserrat/montserrat-medium-webfont.eot');
	src: url('../fonts/Montserrat/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Montserrat/montserrat-medium-webfont.woff2') format('woff2'),
			 url('../fonts/Montserrat/montserrat-medium-webfont.woff') format('woff'),
			 url('../fonts/Montserrat/montserrat-medium-webfont.ttf') format('truetype'),
			 url('../fonts/Montserrat/montserrat-medium-webfont.svg#montserratmedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratSemibold';
	src: url('../fonts/Montserrat/montserrat-semibold-webfont.eot');
	src: url('../fonts/Montserrat/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
			 url('../fonts/Montserrat/montserrat-semibold-webfont.woff') format('woff'),
			 url('../fonts/Montserrat/montserrat-semibold-webfont.ttf') format('truetype'),
			 url('../fonts/Montserrat/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratBold';
	src: url('../fonts/Montserrat/montserrat-bold-webfont.eot');
	src: url('../fonts/Montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Montserrat/montserrat-bold-webfont.woff2') format('woff2'),
			 url('../fonts/Montserrat/montserrat-bold-webfont.woff') format('woff'),
			 url('../fonts/Montserrat/montserrat-bold-webfont.ttf') format('truetype'),
			 url('../fonts/Montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratExtrabold';
	src: url('../fonts/Montserrat/montserrat-extrabold-webfont.eot');
	src: url('../fonts/Montserrat/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
			 url('../fonts/Montserrat/montserrat-extrabold-webfont.woff') format('woff'),
			 url('../fonts/Montserrat/montserrat-extrabold-webfont.ttf') format('truetype'),
			 url('../fonts/Montserrat/montserrat-extrabold-webfont.svg#montserratextrabold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratBlack';
	src: url('../fonts/Montserrat/montserrat-black-webfont.eot');
	src: url('../fonts/Montserrat/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Montserrat/montserrat-black-webfont.woff2') format('woff2'),
			 url('../fonts/Montserrat/montserrat-black-webfont.woff') format('woff'),
			 url('../fonts/Montserrat/montserrat-black-webfont.ttf') format('truetype'),
			 url('../fonts/Montserrat/montserrat-black-webfont.svg#montserratblack') format('svg');
	font-weight: 900;
	font-style: normal;
}


//GothamPro
@font-face {
	font-family: 'GothamProLight';
	src: url('../fonts/GothamPro/GothamPro-Light.eot');
	src: url('../fonts/GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/GothamPro/GothamPro-Light.woff') format('woff'),
			 url('../fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProRegular';
	src: url('../fonts/GothamPro/GothamPro.eot');
	src: url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/GothamPro/GothamPro.woff') format('woff'),
			 url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProMedium';
	src: url('../fonts/GothamPro/GothamPro-Medium.eot');
	src: url('../fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
			 url('../fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProBold';
	src: url('../fonts/GothamPro/GothamPro-Bold.eot');
	src: url('../fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
			 url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProBlack';
	src: url('../fonts/GothamPro/GothamPro-Black.eot');
	src: url('../fonts/GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'),
			 url('../fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProNarrowMedium';
	src: url('../fonts/GothamPro/GothamProNarrow-Medium.eot');
	src: url('../fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/GothamPro/GothamProNarrow-Medium.woff') format('woff'),
			 url('../fonts/GothamPro/GothamProNarrow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProNarrowBold';
	src: url('../fonts/GothamPro/GothamProNarrow-Bold.eot');
	src: url('../fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/GothamPro/GothamProNarrow-Bold.woff') format('woff'),
			 url('../fonts/GothamPro/GothamProNarrow-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}