%text {
	color: $color_3;
	font-family: 'GothamProMedium', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
}

%title {
	font-family: 'GothamProMedium', sans-serif;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}