$color_1: #ffffff;
$color_2: #333b42;
$color_3: #74797e;
$color_4: #28c8c6;
$color_5: #333333;
$color_6: #8297a7;

$color_7: #a100ff;
$color_8: #f6f9fa;
$color_9: #242424;
$color_10: #69b6f2;
$color_11: #3a579a;
