// background
$background-color-primary: #FFFFFF;
$background-color-secondary: #F7F7F7;

// text
$color-text-primary: #FFFFFF;;
$color-text-secondary:  rgba(255, 255, 255, 0.63);
$color-text-tertiary: #101315;
$color-text-quaternary: #7A7A7A;
$color-text-active: #DD783F;

// button
$background-color-button: #DD783F;
$color-text-button: #FFFFFF;

// border
$border-color: #DEDEDE;
