@media (max-width: 1365px) {

  // <!-- Header -->
  .nav {
    width: 65%; 
    max-width: 490px;
  }
  .info {
    min-width: 323px;
  }

  // <!-- Intro -->
  .product {
    width: 47%;
    &__comments {
      padding-left: 0;
    }
    &__titles {
      &::after {
        top: -15px;
        right: 0;
      }
    }
  }
  .order {
    width: 47%;
  }
  .registration {
    &__form {
      width: 100%;
      max-width: 392px;
    }
    &__residential {
      width: 100%;
    }
  }

  //<!-- Instruction -->
  .instruction {
    margin-top: 70px;
  }
  .cards {
    width: 95%;
  }

  // <!-- Specification -->
  .choice {
    margin: 0 auto;
    width: 95%;

    &__title {
      text-align: center;
    }
  }

  //<!-- Bid -->
  .bid {
    margin-top: 100px;
  }
  .appeal {
    &__background {
      &_bottles {
        left: -60px;
      }
      &_jug {  
        top: 80px;
      }
    }
  }


  //<!-- Schedule -->
  .condition {
    width: 95%;
    max-width: 1000px;
  }
  .acceptance {
    margin-top: 15px;
  }

   //<!-- Footer -->
  


}


@media (max-width: 1110px) {
  //<!-- Instruction -->
  .instruction {
    margin-top: 70px;
  }
  .cards {
    width: 100%;
    max-width: 470px;
    flex-wrap: wrap;
  }
  .card {
    width: 210px;
    &:nth-of-type(n+3):nth-of-type(-n+4) {
      margin-top: 40px;
    }
    &:last-of-type &__background {
      margin-top: 40px;
    } 
  }
  .next-step {
    margin-top: 120px;
    &:first-of-type {
      margin-top: 100px;
    }
    &:nth-of-type(2) {
      display: none;
    }
  }

  //<!-- Bid -->
  .appeal {
    &__background {
      &_bottles {
        top: -40px;
        left: -60px;
      }
      &_jug {  
        top: 150px;
        right: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  // <!-- Header -->
  .introduction {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav {
    width: 93%; 
    order: 2;
  }

  // <!-- Specification -->
  .choice {
    margin: 0 auto;
    width: 95%;
    &__title {
      text-align: center;
    }
  }
  .description {
    flex-direction: column;
    align-items: center;
  }
  .intelligence {
    width: 100%;
  }
  .documentation {
    width: 100%;
    max-width: 460px;
    &__buttons {
      min-width: 200px;
    }
    &__button {
      width: 20px;
      height: 20px;
    }
  }

  //<!-- Bid -->
  .appeal {
    &__background {
      &_bottles {
        top: 30px;
      }
      &_jug {  

      }
    }
  }
 




}


@media (max-width: 950px) {
  // <!-- Intro -->
  .order { 
    &__title {
      font-size: 27px;
    }
  }
  .registration {
    &__form {
      width: 100%;
      max-width: 302px;
    }
    &__residential {
      width: 100%;
    }      
    &__input {
      width: 240px;
      &_size-l {
        width: 60px;
      }
    }
  }
  .calculation {
    &__form {
      width: 100%;
      padding-left: 0;
    }
  }
  
  .service {
    padding: 35px 0; 
    &__subheading {
      text-align: center;
      width: 95%;
    }
  }
  .condition {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .booking {
    width: 95%;
  }
  .acceptance {
    margin-top: 15px;
  }
  .delivery {
    width: 95%;
    margin-top: 20px;
    &__title {
      width: 100%;
    }
  }

  //<!-- Footer -->
  .coordinates {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
  .brend {
    order: 2;
    width: 95%;
    min-width: 0;
    margin-top: 30px;
    &__social {
      width: 100%;
      max-width: 260px;
    }
    &__link {
      width: 40px;
      height: 40px;
    }
    &__svg {
      width: 40px;
      height: 40px;
    }
  }
  .creator {
    order: 0;
    width: 95%;
    &__title {
      padding-left: 0;
    }
  }
  .contact {
    order: 1;
    width: 95%;
    margin-top: 30px;
  }

}