@media (max-width: 480px) {

  // <!-- Header -->
  .nav {
    flex-direction: column;
    align-items: center;
    &__item {
      padding-top: 20px;
    }
  }
  .info {
    min-width: 310px;
    &__number {
      &-link {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
 
  // <!-- Guide (nav_sticky) -->
  .navigation {
    flex-direction: column;
    padding: 20px 0;
 
    &__logo {

    }

    &__list {
      flex-direction: column;
      align-items: center;
    } 

    &__item {
      padding-top: 20px;
    }
  }

  // <!-- Intro -->
  .opening {
    flex-direction: column;
    align-items: center;
  }
  .product {
    width: 90%;
    &__comments {
      padding-left: 0;
    }
    &__titles {
      &::after {
        top: -40px;
        right: 0;
      }
    }
  }
  .order {
    width: 90%;
  }
  .registration {
    &__form {
      max-width: 302px;
    }
  
    &__input {
      width: 240px;
      &_size-l {
        width: 60px;
      }
    }
  }
  .calculation {
    &__form {
      width: 100%;
    }
  }

  //<!-- Instruction -->
  .instruction {
    margin-top: 50px;
  }

  .cards {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }  

    &:nth-of-type(2n) &__background {
      margin-top: 10px;
    }

    &:nth-of-type(n+3):nth-of-type(-n+4) {
      margin-top: 0;
    }
  }

  .next-step {
    margin-top: 10px;
    transform: rotate(90deg);

    &:first-of-type { //Перезатираю стили планшета
      margin-top: 10px;
    }
   
    &:nth-of-type(2) { //Перезатираю стили планшета
      display: block;
    }
  } 

  // <!-- Specification -->
  //Стили как и для планшета, поэтому пропускаю этот блок

  //<!-- Bid -->
  //Стили как и для планшета, поэтому пропускаю этот блок


  //<!-- Schedule -->
  .condition {
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .occurrence {
    margin-top: 15px;
    flex-direction: column;
  }

  //<!-- Footer -->
}