
/* Только для устройств со средним размером экрана */
@media screen and (min-width: 1550px) {  

    // Блок хедера
    .header {
        padding: 50px 0 90px 0;
        background-image: url("../images/des/bg_header_des.jpg");
    }

    // Вверх блока шапки (логотип и сведения)
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // Блок Логотипа
    .logo {

        width: 189px;
          
        &__link {
            width: 189px;
            height: 33px;
            background-image: url("../images/des/icon_logo_des.svg");
            background-size: 189px 33px;
        }
    }

    // Блок сведения
    .subscription {
        display: block;
        width: 200px;

        &__title {
            color: #FFF;
            font-size: 14px;
            font-family: 'Proxima Nova Lite';
        }
    }

    // Цетр блока шапки (заголовок)
    .header-center {
        margin-top: 195px;
        padding-left: 0;
    }



    .textline {
        width: 254px;
        height: 317px;
        background-image: url("../images/des/textline.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: 575px;

        z-index: 1;

    }





    // Блок заголовка
    .caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        position: relative;
   
        font-size: 90px;
        letter-spacing: 5px;
        
        z-index: 2;


        &_right {
            margin-top: 0px;
            letter-spacing: 4px;
            z-index: 1;
        }
        
    }
    
    // Низ блока шапки (загрузки и навигация)
    .header-bottom {



    }

    // Блок кнопок загрузки приложений
    .downloads {
        justify-content: center;
    
        &__link {
            margin-right: 50px;

            width: 311px;
            padding: 26px 67px 25px 104px;
            border-radius: 50px;
            
            &::before {
                width: 33px;
                height: 37px;
                background-image: url("../images/tab/icon_apple_tab.svg"); 
                background-size: 33px 37px;
                left: 45px;
                top: 20px;
            }
            
            &_google {
                padding: 25px 85px 25px 125px;

                &::before {
                    width: 36px;
                    height: 39px;
                    background-image: url("../images/tab/icon_google_tab.svg"); 
                    background-size: 36px 39px;
                    left: 65px;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    
        &__text {
            width: 140px;
            font-size: 14px;
        }
    }
    
    
    // Блок Навигации
    .nav {

        margin-top: 30px;
    
        justify-content: flex-end;


        &__list {
            width: 29.53%;
        }
    
        &__item {
            margin-left: 0;
        }
    
        &__link {
            font-size: 14px;
        }  
    }
    




    // Блок Контента
    .main {
    
    }

    // Информация про спортсменов
    // Блок контента 
    .info {
        margin-top: 0;
    }

    //  Декоративное изображение
    .bg-players {
        width: 725px;
        height: 1105px;
        background-image: url("../images/des/bg_footballer_des.png");
        margin-top: 90px;

        &_basketballer {
            width: 991px;
            height: 815px;
            background-image: url("../images/des/bg_basketballer_des.png");
            align-self: flex-end;
            top: -30px;
            margin-top: 0px;
        }
    }




    // Обертка контента, цветные линии
    .content-wrap {
    
        background-color: #FFF;
    
        &_light {
            background-color: #f5f4f9;
        }

        &_dark {
            background-color: #5e42b0;   
            
        }

        &_darker {
            background-color: #090c35;
        }
    }


    // Контент про спортсменов
    .content {
        display: flex;
        flex-direction: column;

        align-items: flex-end;
        // justify-content: space-around;
        
      

        padding: 90px 0 90px 0;   
  
        &_leftside {
            // padding: 60px 0 60px 30px;
            align-items: flex-start;

  
        }

        &__title {
            // margin-top: 60px;
            // width: 53.2552%;
            width: 39%;
            display: flex;
            align-items: center;  

            &_mt {
                margin-top: 90px;
            }

        }

        &__text {
            width: 39%;
            // margin-top: 30px;

            font-size: 20px;
        }
        

        &__heading {
            width: 39%;
     
        }
    }

   







    .appeal-wrap {

    }
  
    .appeal {
        display: flex;
        align-items: center;
        
        &_reverse {
            flex-direction: row-reverse;
        }
    }







    .article {
        width: 50%;
        padding-left: 130px;


        &__title {
            margin: 80px 0 0 0 ;
            color: #c1c1c1;
            font-size: 90px;   
            position: relative;   
        }

        &__number {
            color: #f5f6f7;
            font-size: 24px;
            background-color: #5e42b0;
            padding: 70px;

            position: absolute;
            bottom: -35px;
            left: -25%; 

         
            &::after {
                content: "";
                display: block;
                height: 5px;
                background-color: #FFF;
                opacity: 0.3;
            }


            &_reverse {
                left: 90%; 
            }
        }


        &__text {
            width: 60%;
            margin-top: 120px;
           
            font-size: 24px;
            line-height: 28px;

          
            &::after {
                content: "";
                margin-top: 35px;
                display: block;
                width: 22px;
                height: 5px;
                border-radius: 2px;
                background-color: #5e42b0;
            }
        }
    }
    
       

    .bg-people {
        width: 50%;
        padding-bottom: 38.0208333%;
        background-image: url("../images/des/bg_human1_des.png");
      margin: 0;

        &_human2 {
            background-image: url("../images/des/bg_human2_des.png");
        }

        &_human3 {
            background-image: url("../images/des/bg_human3_des.png");
        }

    }
    
















        
        
    .footer {
        margin-top: 0;
        padding: 250px 0 365px 0;
        background-image: url("../images/des/bg_footer_des.png");

        position: relative;

        &__header {
            margin-top: 80px;
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;

        }
    
        &__title {
            color: #FFF;
            font-size: 80px;
        }

        &__subtitle {
            margin-top: 30px;
            color: #a496ca;
            font-size: 36px;
        }


    }






    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }



    .footer-caption {
 
        &__title {
            margin-top: 0px;
            font-size: 90px;
        }
    
        &__subtitle {
            margin-top: 20px;
        }
    }
    









    // Кнопка
    .button {
        margin-right: 35px;
        display: flex;
        justify-content: center;

        &__link {
            display: block;
            width: 130px;
            height: 137px;
            background-image: url("../images/tab/icon_button_tab.svg");
            background-repeat: no-repeat;
            background-size: 130px 137px;
        }
    }


      
    
    // Всплывающее окно сц сетей
    .footer-bottom {
        padding: 75px 0; 
        display: flex;
        justify-content: space-around;
    }





    // Появится в декстопе
    .footer-logo {

        &__link {
            display: block;
            width: 172px;
            height: 30px;
            background-image: url("../images/des/icon_logo_des.svg");
            background-repeat: no-repeat;
            background-size: 172px 30px;
        }
    }

    .copy {
        display: block;
        color: #FFF;
        font-size: 20px;
        font-family: 'Proxima Nova Regular';
    }
}