@import "fonts";
@import "general";

/*Начало оформления стилей для сайта, 320px*/
// Блок шапки
.header {
    padding: 40px 0 20px 0;
    background-image: url("../images/mob/bg_header_mob.png");
    background-repeat: no-repeat;
    background-size: cover;
}

// Вверх блока шапки (логотип и сведения)
.header-top {
  
}

// Блок логотипа
.logo {
    display: flex;
    justify-content: center;
    
    &__link {
        display: block;
        width: 137px;
        height: 24px;
        background-image: url("../images/mob/icon_logo_mob.svg");
        background-repeat: no-repeat;
        background-size: 137px 24px;
    }
}

// Блок сведения
.subscription {
    display: none;
}

// Цетр блока шапки (заголовок)
.header-center {
    margin-top: 140px;
    padding: 0 10px;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Блок заголовка
.caption {
    color: #FFF;
    font-size: 32px;
    align-self: flex-start;

    &_right {
        max-width: 75.625%;
        margin-top: 20px; 
        align-self: flex-end;
    }
}

// Низ блока шапки (загрузки и навигация)
.header-bottom {

}

// Блок загрузки
.downloads {
    margin-top: 115px;

    display: flex;
    justify-content: space-around;

    &__link {
        display: block;
        width: 142px;
        background-color: #5e42b0;
        padding: 10px 17px 10px 44px;
        border-radius: 30px;
        text-decoration: none;
        position: relative;
   
        &::before {
            content: "";
            display: block;
            width: 15px;
            height: 17px;
            background-image: url("../images/mob/icon_apple_mob.svg"); 
            background-repeat: no-repeat;
            background-size: 15px 17px;
            position: absolute;
            left: 20px;
            top: 10px;
        }
        
        &_google {
            padding: 10px 17px 10px 55px;

            &::before {
                width: 16px;
                height: 18px;
                background-image: url("../images/mob/icon_google_mob.svg"); 
                background-size: 16px 18px;
                left: 30px;
            }
        }
             
        &:hover {
            background-color: #0a0e34;
        }
    }

    &__text {
        font-family: 'Proxima Nova Lite';
        font-size: 8px;

        &_font {
            margin-top: 3px;
            font-family: 'Proxima Nova Semibold';
        }
    }
}

// Блок Навигации
.nav {
    margin-top: 45px;
    display: flex;
    justify-content: center;

    &__list {
        width: 78.125%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }        
    }
    
    &__link {
        color: #9071ea;
        font-family: 'Proxima Nova Lite';
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: #FFF;
        }
    }  
}





// Блок Контента
.main {

}


// Информация про спортсменов
// Блок контента 
.info {
    display: none;

    &_mob {
        display: block;
        margin-top: 25px;
    }
  
    &__title {
        color: #e7e7e7;
        font-size: 50px; 
        padding-left: 20px; 
        
    }   
}

//  Изображение игроков
.bg-players {
    margin: 0 0 0 30px;
    width: 210px;
    height: 281px;

    background-image: url("../images/mob/bg_footballer_mob.png");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;

    position: absolute;
       
    &_basketballer {
        margin: 15px 0 0 0;
        width: 302px;
        height: 249px;
        background-image: url("../images/mob/bg_basketballer_mob.png");
    }
}


// Блок слайдера 
.slider {
    margin-top: 225px;

    .fotorama__html {
        background-color: #f5f4f9;
    }

    .fotorama__nav-wrap {
        position: absolute;
        bottom: 20px;
    }

    .fotorama__dot {
        display: block;
        width: 10px;
        height: 10px;
        position: relative;
        top: 12px;
        left: 6px;
        border-radius: 50%;
        border: 5px solid #d8d8d8;
    }
   
    .fotorama__nav__frame.fotorama__active .fotorama__dot {
        width: 0;
        height: 0;
        border: 5px solid #5c3caf;
    }
}

// Обертка контента, цветные линии
.content-wrap {
    background-color: #f5f4f9;
}

// Контент про спортсменов
.content {
    // width: 100%;
    padding: 80px 15px 70px 15px;
   
    &__title {
        display: flex;
        align-items: center;
        // width: 53.2552%;  
        color: #c1c1c1;
    }

    &__number {
        margin-right: 10px;
        color: #000;
        font-size: 14px;

        &::after {
            content: "";
            display: block;
            height: 5px;
            border-radius: 2px;
            background-color: #5e42b0;
        } 
    } 

    &__text {
        // max-width: 53.2552%;
        margin-top: 20px;
    }
}


// Контент (Обращение)
.appeal {

}

.article {
    padding-left: 20px;

    &__title {
        margin-top: 35px;
        color: #c1c1c1;
        position: relative;   
    }

    &__number {
        color: #f5f6f7;
        font-size: 14px;
        background-color: #5e42b0;
        padding: 27px;

        position: absolute;
        left: 0;
        bottom: 50px;
        
        &::after {
            content: "";
            display: block;
            height: 4px;
            border-radius: 2px;
            background-color: #FFF;
            opacity: 0.3;
        }
    }

    &__text {
        margin-top: 25px;
        font-size: 16px;
        line-height: 20px;
        
        &::after {
            content: "";
            margin-top: 25px;
            display: block;
            width: 22px;
            height: 5px;
            border-radius: 2px;
            background-color: #5e42b0;
        }
    }
}



// Изображения людей для Appeals
.bg-people {
    width: 100%;
    padding-bottom: 109.6875%; 
    background-image: url("../images/mob/bg_human1_mob.png");
    background-repeat: no-repeat;
    background-size: cover;

    &_human2 {
        margin-top: 70px;
        background-image: url("../images/mob/bg_human2_mob.png");
    }

    &_human3 {
        margin-top: 70px;
        background-image: url("../images/mob/bg_human3_mob.png");
    }
}







.footer {
    width: 100%;
    margin-top: 50px;
    padding: 95px 0 175px 0;
    background-image: url("../images/mob/bg_footer_mob.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-caption {
 
    &__title {
        margin-top: 55px;
        color: #FFF;
        font-size: 34px;
    }

    &__subtitle {
        margin-top: 15px;
        color: #9b8ec1;
        font-size: 15px;
    }
}

.button {
    display: flex;
    justify-content: center;

    &__link {
        display: block;
        width: 73px;
        height: 78px;
        background-image: url("../images/mob/icon_button_mob.svg");
        background-repeat: no-repeat;
        background-size: 73px 78px;
    } 
}

.footer-center {

}





.footer-bottom {
    
    width: 100%;
    padding: 20px 0;  
    background-color: rgba(13, 18, 53, .6);
    position: absolute;
    bottom: 0;
}



.social {
 
    &__links {
        display: flex;
        justify-content: center;
    }
  
    &__link {
        display: block;
        margin-right: 40px;
        width: 10px;
        height: 18px;
        background-image: url("../images/mob/icon_facebook_mob.svg");
        background-repeat: no-repeat;
        background-size: 10px 18px;

        &_twitter {
            width: 18px;
            height: 15px;
            background-image: url("../images/mob/icon_twitter_mob.svg");
            background-size: 18px 15px;
        }

        &_insta {
            width: 17px;
            height: 17px;
            background-image: url("../images/mob/icon_insta_mob.svg");
            background-size: 17px 17px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.copy {
    display: none;
}



// Медиазапросы
@import "tab";
@import "desc";