@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova Lite';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* line 2, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_general.scss */
* {
  box-sizing: border-box;
}

/* line 9, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_general.scss */
.alignment-content {
  max-width: 1550px;
  min-width: 320px;
  margin: 0 auto;
}

/* line 16, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_general.scss */
.title {
  color: #FFF;
  font-family: 'Proxima Nova Bold';
  font-size: 28px;
  text-transform: uppercase;
}

/* line 23, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_general.scss */
.text {
  color: #000;
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  line-height: 18px;
}

/*Начало оформления стилей для сайта, 320px*/
/* line 6, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.header {
  padding: 40px 0 20px 0;
  background-image: url("../images/mob/bg_header_mob.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 19, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.logo {
  display: flex;
  justify-content: center;
}

/* line 23, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.logo__link {
  display: block;
  width: 137px;
  height: 24px;
  background-image: url("../images/mob/icon_logo_mob.svg");
  background-repeat: no-repeat;
  background-size: 137px 24px;
}

/* line 34, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.subscription {
  display: none;
}

/* line 39, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.header-center {
  margin-top: 140px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 50, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.caption {
  color: #FFF;
  font-size: 32px;
  align-self: flex-start;
}

/* line 55, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.caption_right {
  max-width: 75.625%;
  margin-top: 20px;
  align-self: flex-end;
}

/* line 68, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.downloads {
  margin-top: 115px;
  display: flex;
  justify-content: space-around;
}

/* line 74, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.downloads__link {
  display: block;
  width: 142px;
  background-color: #5e42b0;
  padding: 10px 17px 10px 44px;
  border-radius: 30px;
  text-decoration: none;
  position: relative;
}

/* line 83, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.downloads__link::before {
  content: "";
  display: block;
  width: 15px;
  height: 17px;
  background-image: url("../images/mob/icon_apple_mob.svg");
  background-repeat: no-repeat;
  background-size: 15px 17px;
  position: absolute;
  left: 20px;
  top: 10px;
}

/* line 96, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.downloads__link_google {
  padding: 10px 17px 10px 55px;
}

/* line 99, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.downloads__link_google::before {
  width: 16px;
  height: 18px;
  background-image: url("../images/mob/icon_google_mob.svg");
  background-size: 16px 18px;
  left: 30px;
}

/* line 108, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.downloads__link:hover {
  background-color: #0a0e34;
}

/* line 113, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.downloads__text {
  font-family: 'Proxima Nova Lite';
  font-size: 8px;
}

/* line 117, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.downloads__text_font {
  margin-top: 3px;
  font-family: 'Proxima Nova Semibold';
}

/* line 125, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.nav {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

/* line 130, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.nav__list {
  width: 78.125%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 137, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.nav__item {
  margin-left: 20px;
}

/* line 140, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.nav__item:first-child {
  margin-left: 0;
}

/* line 145, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.nav__link {
  color: #9071ea;
  font-family: 'Proxima Nova Lite';
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 152, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.nav__link:hover {
  color: #FFF;
}

/* line 170, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.info {
  display: none;
}

/* line 173, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.info_mob {
  display: block;
  margin-top: 25px;
}

/* line 178, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.info__title {
  color: #e7e7e7;
  font-size: 50px;
  padding-left: 20px;
}

/* line 187, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.bg-players {
  margin: 0 0 0 30px;
  width: 210px;
  height: 281px;
  background-image: url("../images/mob/bg_footballer_mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: absolute;
}

/* line 200, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.bg-players_basketballer {
  margin: 15px 0 0 0;
  width: 302px;
  height: 249px;
  background-image: url("../images/mob/bg_basketballer_mob.png");
}

/* line 210, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.slider {
  margin-top: 225px;
}

/* line 213, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.slider .fotorama__html {
  background-color: #f5f4f9;
}

/* line 217, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.slider .fotorama__nav-wrap {
  position: absolute;
  bottom: 20px;
}

/* line 222, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.slider .fotorama__dot {
  display: block;
  width: 10px;
  height: 10px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 50%;
  border: 5px solid #d8d8d8;
}

/* line 233, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.slider .fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 0;
  height: 0;
  border: 5px solid #5c3caf;
}

/* line 241, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.content-wrap {
  background-color: #f5f4f9;
}

/* line 246, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.content {
  padding: 80px 15px 70px 15px;
}

/* line 250, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.content__title {
  display: flex;
  align-items: center;
  color: #c1c1c1;
}

/* line 257, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.content__number {
  margin-right: 10px;
  color: #000;
  font-size: 14px;
}

/* line 262, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.content__number::after {
  content: "";
  display: block;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

/* line 271, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.content__text {
  margin-top: 20px;
}

/* line 283, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.article {
  padding-left: 20px;
}

/* line 286, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.article__title {
  margin-top: 35px;
  color: #c1c1c1;
  position: relative;
}

/* line 292, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.article__number {
  color: #f5f6f7;
  font-size: 14px;
  background-color: #5e42b0;
  padding: 27px;
  position: absolute;
  left: 0;
  bottom: 50px;
}

/* line 302, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.article__number::after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: #FFF;
  opacity: 0.3;
}

/* line 312, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.article__text {
  margin-top: 25px;
  font-size: 16px;
  line-height: 20px;
}

/* line 317, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.article__text::after {
  content: "";
  margin-top: 25px;
  display: block;
  width: 22px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

/* line 332, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.bg-people {
  width: 100%;
  padding-bottom: 109.6875%;
  background-image: url("../images/mob/bg_human1_mob.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 339, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.bg-people_human2 {
  margin-top: 70px;
  background-image: url("../images/mob/bg_human2_mob.png");
}

/* line 344, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.bg-people_human3 {
  margin-top: 70px;
  background-image: url("../images/mob/bg_human3_mob.png");
}

/* line 356, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.footer {
  width: 100%;
  margin-top: 50px;
  padding: 95px 0 175px 0;
  background-image: url("../images/mob/bg_footer_mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* line 368, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 376, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.footer-caption__title {
  margin-top: 55px;
  color: #FFF;
  font-size: 34px;
}

/* line 382, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.footer-caption__subtitle {
  margin-top: 15px;
  color: #9b8ec1;
  font-size: 15px;
}

/* line 389, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.button {
  display: flex;
  justify-content: center;
}

/* line 393, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.button__link {
  display: block;
  width: 73px;
  height: 78px;
  background-image: url("../images/mob/icon_button_mob.svg");
  background-repeat: no-repeat;
  background-size: 73px 78px;
}

/* line 411, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.footer-bottom {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(13, 18, 53, 0.6);
  position: absolute;
  bottom: 0;
}

/* line 424, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.social__links {
  display: flex;
  justify-content: center;
}

/* line 429, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.social__link {
  display: block;
  margin-right: 40px;
  width: 10px;
  height: 18px;
  background-image: url("../images/mob/icon_facebook_mob.svg");
  background-repeat: no-repeat;
  background-size: 10px 18px;
}

/* line 438, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.social__link_twitter {
  width: 18px;
  height: 15px;
  background-image: url("../images/mob/icon_twitter_mob.svg");
  background-size: 18px 15px;
}

/* line 445, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.social__link_insta {
  width: 17px;
  height: 17px;
  background-image: url("../images/mob/icon_insta_mob.svg");
  background-size: 17px 17px;
}

/* line 452, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.social__link:last-child {
  margin-right: 0;
}

/* line 458, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/style.scss */
.copy {
  display: none;
}

/* Только для устройств со средним размером экрана */
@media screen and (min-width: 768px) {
  /* line 6, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .header {
    padding: 50px 0 90px 0;
    background-image: url("../images/tab/bg_header_tab.png");
  }
  /* line 12, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  /* line 20, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .logo {
    width: 189px;
  }
  /* line 24, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .logo__link {
    width: 189px;
    height: 33px;
    background-image: url("../images/tab/icon_logo_tab.svg");
    background-size: 189px 33px;
  }
  /* line 33, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .subscription {
    display: block;
    width: 200px;
  }
  /* line 37, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .subscription__title {
    color: #FFF;
    font-size: 14px;
    font-family: 'Proxima Nova Lite';
  }
  /* line 45, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .header-center {
    margin-top: 195px;
    padding-left: 90px;
  }
  /* line 51, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 64px;
  }
  /* line 58, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .caption_right {
    margin-top: 30px;
  }
  /* line 65, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .header-bottom {
    display: flex;
    flex-direction: column;
  }
  /* line 72, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .downloads {
    order: 1;
  }
  /* line 77, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .downloads__link {
    width: 311px;
    padding: 26px 67px 25px 104px;
    border-radius: 50px;
    box-shadow: 8px 14px 24px #0a0e34;
  }
  /* line 83, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .downloads__link::before {
    width: 33px;
    height: 37px;
    background-image: url("../images/tab/icon_apple_tab.svg");
    background-size: 33px 37px;
    left: 45px;
    top: 20px;
  }
  /* line 92, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .downloads__link_google {
    padding: 25px 85px 25px 125px;
  }
  /* line 95, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .downloads__link_google::before {
    width: 36px;
    height: 39px;
    background-image: url("../images/tab/icon_google_tab.svg");
    background-size: 36px 39px;
    left: 65px;
  }
  /* line 105, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .downloads__text {
    width: 140px;
    font-size: 14px;
  }
  /* line 113, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .nav {
    margin-top: 185px;
    order: 0;
    width: 100%;
  }
  /* line 118, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .nav__list {
    width: 86.71875100%;
  }
  /* line 122, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .nav__item {
    margin-left: 0;
  }
  /* line 126, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .nav__link {
    font-size: 16px;
  }
  /* line 143, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .info {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  /* line 148, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .info_mob {
    display: none;
  }
  /* line 154, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .bg-players {
    width: 335px;
    height: 730px;
    background-image: url("../images/tab/bg_footballer_tab.png");
    margin: 75px 0 0 0;
  }
  /* line 161, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .bg-players_basketballer {
    width: 436px;
    height: 562px;
    background-image: url("../images/tab/bg_basketballer_tab.png");
    align-self: flex-end;
    margin: 35px 0 0 0;
  }
  /* line 171, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content-wrap {
    background-color: #FFF;
  }
  /* line 174, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content-wrap_light {
    background-color: #f5f4f9;
  }
  /* line 178, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content-wrap_dark {
    background-color: #5e42b0;
  }
  /* line 182, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content-wrap_darker {
    background-color: #090c35;
  }
  /* line 189, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 55px 40px 0;
  }
  /* line 198, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content_leftside {
    padding: 50px 0 50px 30px;
    align-items: flex-start;
  }
  /* line 204, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content__title {
    width: 53.2552%;
    display: flex;
    align-items: center;
    color: #c1c1c1;
    font-size: 36px;
  }
  /* line 212, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content__title_mt {
    margin-top: 60px;
  }
  /* line 217, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content__text {
    margin-top: 30px;
    width: 53.2552%;
    font-size: 18px;
    line-height: 28px;
  }
  /* line 223, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content__text_colored {
    color: #FFF;
  }
  /* line 228, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content__heading {
    width: 53.2552%;
    color: #e7e7e7;
    font-size: 90px;
  }
  /* line 238, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content__number {
    color: #000;
    font-size: 18px;
  }
  /* line 242, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content__number_colored {
    color: #8765dd;
  }
  /* line 246, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content__number::after {
    content: "";
    display: block;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
  }
  /* line 255, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .content__number_underline::after {
    background-color: #efefef;
  }
  /* line 271, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .article {
    padding-left: 30px;
  }
  /* line 275, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .article__title {
    margin: 80px 0 0 0;
    color: #c1c1c1;
    font-size: 90px;
    position: relative;
  }
  /* line 284, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .article__number {
    color: #f5f6f7;
    font-size: 24px;
    background-color: #5e42b0;
    padding: 43px;
    position: absolute;
    bottom: 150px;
  }
  /* line 293, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .article__number::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #FFF;
    opacity: 0.3;
  }
  /* line 304, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .article__text {
    width: 85.2864583%;
    margin-top: 35px;
    font-size: 24px;
    line-height: 28px;
  }
  /* line 312, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .article__text::after {
    content: "";
    margin-top: 35px;
    display: block;
    width: 22px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
  }
  /* line 326, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .bg-people {
    width: 100%;
    padding-bottom: 76.0416667%;
    background-image: url("../images/tab/bg_human1_tab.png");
  }
  /* line 331, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .bg-people_human2 {
    background-image: url("../images/tab/bg_human2_tab.png");
  }
  /* line 335, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .bg-people_human3 {
    background-image: url("../images/tab/bg_human3_tab.png");
  }
  /* line 348, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .footer {
    margin-top: 100px;
    padding: 125px 0 220px 0;
    background-image: url("../images/tab/bg_footer_tab.png");
  }
  /* line 355, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .footer-bottom {
    padding: 35px 0;
  }
  /* line 363, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .footer-top__title {
    margin-top: 80px;
    font-size: 80px;
  }
  /* line 368, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .footer-top__subtitle {
    margin-top: 30px;
    color: #9b8ec1;
    font-size: 36px;
  }
  /* line 382, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .footer-caption__title {
    margin-top: 80px;
    font-size: 80px;
  }
  /* line 387, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .footer-caption__subtitle {
    margin-top: 30px;
    color: #9b8ec1;
    font-size: 36px;
  }
  /* line 401, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .button__link {
    width: 130px;
    height: 137px;
    background-image: url("../images/tab/icon_button_tab.svg");
    background-size: 130px 137px;
  }
  /* line 411, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .social__link {
    width: 15px;
    height: 27px;
    background-image: url("../images/tab/icon_facebook_tab.svg");
    background-size: 15px 27px;
  }
  /* line 417, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .social__link_twitter {
    width: 27px;
    height: 22px;
    background-image: url("../images/tab/icon_twitter_tab.svg");
    background-size: 27px 22px;
  }
  /* line 424, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_tab.scss */
  .social__link_insta {
    width: 24px;
    height: 25px;
    background-image: url("../images/tab/icon_insta_tab.svg");
    background-size: 24px 25px;
  }
}

/* Только для устройств со средним размером экрана */
@media screen and (min-width: 1550px) {
  /* line 6, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .header {
    padding: 50px 0 90px 0;
    background-image: url("../images/des/bg_header_des.jpg");
  }
  /* line 12, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* line 19, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .logo {
    width: 189px;
  }
  /* line 23, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .logo__link {
    width: 189px;
    height: 33px;
    background-image: url("../images/des/icon_logo_des.svg");
    background-size: 189px 33px;
  }
  /* line 32, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .subscription {
    display: block;
    width: 200px;
  }
  /* line 36, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .subscription__title {
    color: #FFF;
    font-size: 14px;
    font-family: 'Proxima Nova Lite';
  }
  /* line 44, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .header-center {
    margin-top: 195px;
    padding-left: 0;
  }
  /* line 51, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .textline {
    width: 254px;
    height: 317px;
    background-image: url("../images/des/textline.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 575px;
    z-index: 1;
  }
  /* line 68, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 90px;
    letter-spacing: 5px;
    z-index: 2;
  }
  /* line 81, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .caption_right {
    margin-top: 0px;
    letter-spacing: 4px;
    z-index: 1;
  }
  /* line 97, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .downloads {
    justify-content: center;
  }
  /* line 100, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .downloads__link {
    margin-right: 50px;
    width: 311px;
    padding: 26px 67px 25px 104px;
    border-radius: 50px;
  }
  /* line 107, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .downloads__link::before {
    width: 33px;
    height: 37px;
    background-image: url("../images/tab/icon_apple_tab.svg");
    background-size: 33px 37px;
    left: 45px;
    top: 20px;
  }
  /* line 116, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .downloads__link_google {
    padding: 25px 85px 25px 125px;
  }
  /* line 119, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .downloads__link_google::before {
    width: 36px;
    height: 39px;
    background-image: url("../images/tab/icon_google_tab.svg");
    background-size: 36px 39px;
    left: 65px;
  }
  /* line 128, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .downloads__link:last-child {
    margin-right: 0;
  }
  /* line 133, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .downloads__text {
    width: 140px;
    font-size: 14px;
  }
  /* line 141, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .nav {
    margin-top: 30px;
    justify-content: flex-end;
  }
  /* line 148, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .nav__list {
    width: 29.53%;
  }
  /* line 152, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .nav__item {
    margin-left: 0;
  }
  /* line 156, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .nav__link {
    font-size: 14px;
  }
  /* line 172, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .info {
    margin-top: 0;
  }
  /* line 177, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .bg-players {
    width: 725px;
    height: 1105px;
    background-image: url("../images/des/bg_footballer_des.png");
    margin-top: 90px;
  }
  /* line 183, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .bg-players_basketballer {
    width: 991px;
    height: 815px;
    background-image: url("../images/des/bg_basketballer_des.png");
    align-self: flex-end;
    top: -30px;
    margin-top: 0px;
  }
  /* line 197, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content-wrap {
    background-color: #FFF;
  }
  /* line 201, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content-wrap_light {
    background-color: #f5f4f9;
  }
  /* line 205, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content-wrap_dark {
    background-color: #5e42b0;
  }
  /* line 210, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content-wrap_darker {
    background-color: #090c35;
  }
  /* line 217, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 90px 0 90px 0;
  }
  /* line 228, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content_leftside {
    align-items: flex-start;
  }
  /* line 235, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content__title {
    width: 39%;
    display: flex;
    align-items: center;
  }
  /* line 242, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content__title_mt {
    margin-top: 90px;
  }
  /* line 248, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content__text {
    width: 39%;
    font-size: 20px;
  }
  /* line 256, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .content__heading {
    width: 39%;
  }
  /* line 274, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .appeal {
    display: flex;
    align-items: center;
  }
  /* line 278, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .appeal_reverse {
    flex-direction: row-reverse;
  }
  /* line 289, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .article {
    width: 50%;
    padding-left: 130px;
  }
  /* line 294, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .article__title {
    margin: 80px 0 0 0;
    color: #c1c1c1;
    font-size: 90px;
    position: relative;
  }
  /* line 301, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .article__number {
    color: #f5f6f7;
    font-size: 24px;
    background-color: #5e42b0;
    padding: 70px;
    position: absolute;
    bottom: -35px;
    left: -25%;
  }
  /* line 312, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .article__number::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #FFF;
    opacity: 0.3;
  }
  /* line 321, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .article__number_reverse {
    left: 90%;
  }
  /* line 327, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .article__text {
    width: 60%;
    margin-top: 120px;
    font-size: 24px;
    line-height: 28px;
  }
  /* line 335, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .article__text::after {
    content: "";
    margin-top: 35px;
    display: block;
    width: 22px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
  }
  /* line 349, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .bg-people {
    width: 50%;
    padding-bottom: 38.0208333%;
    background-image: url("../images/des/bg_human1_des.png");
    margin: 0;
  }
  /* line 355, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .bg-people_human2 {
    background-image: url("../images/des/bg_human2_des.png");
  }
  /* line 359, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .bg-people_human3 {
    background-image: url("../images/des/bg_human3_des.png");
  }
  /* line 383, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .footer {
    margin-top: 0;
    padding: 250px 0 365px 0;
    background-image: url("../images/des/bg_footer_des.png");
    position: relative;
  }
  /* line 390, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .footer__header {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 400, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .footer__title {
    color: #FFF;
    font-size: 80px;
  }
  /* line 405, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .footer__subtitle {
    margin-top: 30px;
    color: #a496ca;
    font-size: 36px;
  }
  /* line 419, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 429, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .footer-caption__title {
    margin-top: 0px;
    font-size: 90px;
  }
  /* line 434, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .footer-caption__subtitle {
    margin-top: 20px;
  }
  /* line 449, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .button {
    margin-right: 35px;
    display: flex;
    justify-content: center;
  }
  /* line 454, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .button__link {
    display: block;
    width: 130px;
    height: 137px;
    background-image: url("../images/tab/icon_button_tab.svg");
    background-repeat: no-repeat;
    background-size: 130px 137px;
  }
  /* line 468, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .footer-bottom {
    padding: 75px 0;
    display: flex;
    justify-content: space-around;
  }
  /* line 481, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .footer-logo__link {
    display: block;
    width: 172px;
    height: 30px;
    background-image: url("../images/des/icon_logo_des.svg");
    background-repeat: no-repeat;
    background-size: 172px 30px;
  }
  /* line 491, D:/Google chrome/Maks/Hillel/Lesson_13.1/scss/_desc.scss */
  .copy {
    display: block;
    color: #FFF;
    font-size: 20px;
    font-family: 'Proxima Nova Regular';
  }
}

/*# sourceMappingURL=../css/style.map */